
html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 20px 0;
  padding: 0;
  color: #111;
}

canvas {
  position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  z-index: -1;
}

::selection {
  background: rgb(0, 255, 0);
  color: white;
}

.left-zone {
  float: left;
  margin-left: 5%;
  width: 45%;
}

.right-zone {
  float: right;
  margin-right: 5%;
  width: 45%;
  text-align: right;
}

.big-zone {
  margin: 0 5%;
  width: 90%;
}

.logo-text {
  font-family: Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 96px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  color: rgb(255, 0, 0);
}

.about {
  margin-top: 30px;
  max-width: 430px;
  font-family: Times New Roman, serif;
  font-size: 21px;
  line-height: 1.6;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  padding: 6px;
  background-color: rgba(255,255,255,0.4);
  box-shadow: 0px 3px 6px rgba(255,255,255,0.4);
}

.releases {
  list-style: none;
  margin: 100px 0 20px 0;
  padding: 0;
}
  .releases li {
    font-family: Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 72px;
  }
    .releases li a {
      color: rgb(0, 0, 255);
    }
      .releases li a:hover, .releases li a:focus {
        text-shadow: 0px 0px 15px rgba(0, 0, 255, 0.5);
      }

.release-title-text {
  margin-top: 25px;
  font-family: Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 124px;
}

.vol-1-title-text {
  color: rgb(255, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: color 3s;
}

.release-section-header {
  margin-top: 20px;
  font-family: Times New Roman, Times, serif;
  font-size: 56px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.release-purchase-header {
  color: rgb(143, 76, 240);
}

.release-purchase-zone {
  margin-bottom: 70px; margin-top: 8px;
  max-width: 469px;
  font-family: Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  line-height: 1.5;
  background-color: rgba(255,255,255,0.3);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
  padding: 6px 6px 12px 6px;
}
  .release-purchase-zone a {
    color: rgb(0,0,255);
  }
  .release-purchase-zone p {
    margin-top: 5px;
  }

.release-links-header {
  color: rgb(255, 255, 0);
}

.release-links {
  list-style: none;
  margin: 30px 0 240px 0;
  padding: 0;
}
  .release-links li {
    font-family: Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 56px;
    margin-bottom: 50px;
    line-height: 1.25;
  }
    .release-links li a {
      color: rgb(0, 0, 255);
    }

.work-artist::after {
  content: " - ";
}

.work-title {
  font-style: italic;
}

.release-payment-input-header {
  display: inline-block;
  font-size: 22px;
}

.release-payment-input {
  font-size: 22px;
  appearance: none;
  border-radius: none;
  box-shadow: none;
  margin: 0;
  padding: 5px;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.15);
  transition: all 250ms;
  width: 80px;
}
  .release-payment-input:focus {
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

.release-paypal-button {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;

  font-family: Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 24px;

  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  outline: 0;

  transition: all 250ms;
}
  .release-paypal-button:focus {
    outline: 0;
  }
  .release-paypal-button:hover {
    background-color: rgb(5, 73, 249);
    color: white;
    border: 1px solid transparent;
    transform: scale(1.5);
  }

.floating-money {
  position: fixed;
  color: rgb(83, 231, 160);
  font-family: Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 112px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  z-index: 1;
}

.upside-down {
  transform: rotate(180deg);
}
